/* src/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom styles, like the scrollbar, go after the directives */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #FFEADB; /* peach-100 */
  border-radius: 10px;
}
.dark ::-webkit-scrollbar-track {
  background: #705C5C; /* cocoa-800 */
}
::-webkit-scrollbar-thumb {
  background: #E6B89C; /* clay-200 */
  border-radius: 10px;
}
.dark ::-webkit-scrollbar-thumb {
  background: #947A7A; /* cocoa-700 */
}
::-webkit-scrollbar-thumb:hover {
  background: #D9A37A; /* clay-300 */
}
.dark ::-webkit-scrollbar-thumb:hover {
  background: #A39393; /* cocoa-600 */
}
body {
  overscroll-behavior-y: none; 
}